# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_schedule: monthly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
  - id: fix-encoding-pragma
    args:
    - --remove
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files
    args: ['--maxkb=600']

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==21.5b0]
    exclude: README.md

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    name: isort (python)
    args:
    - --profile=black

- repo: https://github.com/asottile/pyupgrade
  rev: v3.2.2
  hooks:
    - id: pyupgrade
      args: [--py38-plus]

- repo: https://github.com/PyCQA/autoflake
  rev: v1.7.7
  hooks:
    - id: autoflake
      args:
        - --in-place
        - --remove-unused-variables
        - --remove-all-unused-imports
        - --expand-star-imports
        - --ignore-init-module-imports

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    files: ^smol/
    language_version: python3
    additional_dependencies:
    - flake8-typing-imports==1.10.1
    # - flake8-docstrings==1.6.0  # fix these
    # - flake8-rst-docstrings==0.2.3
    - flake8-rst==0.8.0

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1  # pick a git hash / tag to point to
  hooks:
  - id: pydocstyle
    files: ^smol/

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
    - id: codespell
      stages: [commit, commit-msg]
      exclude_types: [html]
      args: [--ignore-words-list, 'nd, tread, mater', --skip, "*.ipynb"]
